Host github.com
  HostName github.com
  User git
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519

Host example-server
  HostName example.com
  User root
  IdentityFile ~/.ssh/example-server
  ServerAliveInterval 60
  ServerAliveCountMax 3
