Host github-personal
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes
  AddKeysToAgent yes
  UseKeychain yes

Host github-seekda
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_seekda_github
  IdentitiesOnly yes
  AddKeysToAgent yes
  UseKeychain yes
