# Set identity locally after bootstrap:
# git config --global user.name "Your Name"
# git config --global user.email "you@example.com"

[init]
	defaultBranch = main

[fetch]
	prune = true

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[rerere]
	enabled = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	name = David Wischnewski
	email = david.wischnewski@seekda.com
